<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Usuários</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

</head>

<body>
	<div class="container">
		<h1 class="display-6 mt-5">Cadastrando emprestimo</h1>
		<h1 class="display-4 mt-5" th:text="${usuario.nome}"></h1>
		<form action="#" th:action="@{/emprestimo/cadastrar}" th:object="${emprestimo}" method="post">
			<div class="alert alert-success alert-dismissible fade show" role="alert" th:attr="hidden=${#strings.isEmpty(mensagem)}">
				<span th:text="${mensagem}">Salvo com sucesso!</span>
				<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
			</div>
			<div class="alert alert-danger alert-dismissible fade show" role="alert" th:attr="hidden=${#strings.isEmpty(erro)}">
				<span th:text="${erro}"></span>
				<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
			</div>
			<input type="hidden" th:field="*{usuario.id}" th:value="${usuario.id}" class="form-control" id="id" />
			<div class="mb-3 row">
				<div class="col-12">					
					<label for="livroList" class="form-label">Livros disponiveis</label>
					<select class="form-control" list="datalistOptions" id="livroList" th:field="*{livro}">
					  <option th:each="livro : ${livroOpcoes}" th:value="${livro}" th:text="${livro.titulo}"></option>
					</select>
				</div>
			</div>
			<div class="mb-3 row">
				<div class="col-6">
					<label for="dataEmprestimo">Data Emprestimo</label>
					<input type="date" th:field="*{dataDeEmprestimo}" th:value="${dataDeEmprestimo}" class="form-control" id="dataEmprestimo" />
				</div>
				<div class="col-6">
					<label for="dataDevolucao">Devolução Prevista</label>
					<input type="date" th:field="*{dataPrevistaDeDevolucao}" th:value="${dataPrevistaDeDevolucao}" class="form-control" id="dataDevolucao" />
				</div>
			</div>
			<div class="mb-3 row">
				<div class="col-12 d-grid">
					<button type="submit" class="mt-4 btn btn-primary">Cadastrar Empréstimo</button>
				</div>
			</div>
		</form>
	</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
	crossorigin="anonymous"></script>

</html>