<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Usuarios</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

</head>

<body>
	<div class="container">
		<h1 class="display-6 mt-5">Emprestimos</h1>
		<h1 class="display-4 mt-5" th:text="${usuario.nome}"></h1>
		<div class="alert alert-danger alert-dismissible fade show" role="alert" th:attr="hidden=${#strings.isEmpty(erro)}">
			<span th:text="${erro}"></span>
			<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
		</div>
		<div class="row">
			<div class="col-6 d-grid gap-2 d-md-flex">			
				<a class="btn btn-light" th:href="@{'/emprestimo/cadastrar/' + ${usuario.id}}" role="button">Cadastrar</a>
			</div>
			<div class="col-6 d-grid gap-2 d-md-flex justify-content-md-end">
			    <a class="btn btn-primary" href="/livro" role="button">Livros</a>
			    <a class="btn btn-primary" href="/usuario"  role="button">Usuarios</a>
			</div>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Livro</th>
					<th scope="col">Emprestimo</th>
					<th scope="col">Devolução Prevista</th>
					<th scope="col">Devolução Real</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="emprestimo : ${usuario.livros}">
					<th scope="row" th:text="${emprestimo.id}"></th>
					<td th:text="${emprestimo.livro.titulo}"></td>
					<td th:text="${emprestimo.dataDeEmprestimo}"></td>
					<td th:text="${emprestimo.dataPrevistaDeDevolucao}"></td>
					<td th:text="${emprestimo.dataRealDeDevolucao}"></td>
					<td><a class="btn btn-primary" th:href="@{'/emprestimo/cadastrar/' + ${usuario.id} + '/' + ${emprestimo.id}}">ATUALIZAR</a></td>
					<td><button class="btn btn-danger" th:attr="onclick=|removerEmprestimo('${emprestimo.id}')|">REMOVER</button></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
	crossorigin="anonymous"></script>
<script>
	async function removerLivro(id) {
		console.log(id);
		let response = await fetch("http://localhost:8080/biblioteca/emprestimo/" + id, { method: 'DELETE' });
		if(response.ok){
			location.reload();
		} else {
			alert("Não foi possivel remover emprestimo.");
		}
		
	}
</script>
</html>