<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Livros</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

</head>

<body>
	<div class="container">
		<h1 class="display-4 mt-5">Livros disponiveis</h1>
		<div class="row">
			<div class="col-6 d-grid gap-2 d-md-flex">			
		<a class="btn btn-light" href="/livro/cadastrar" role="button">Cadastrar</a>
			</div>
			<div class="col-6 d-grid gap-2 d-md-flex justify-content-md-end">
			    <a class="btn btn-primary" href="/usuario"  role="button">Usuarios</a>
			</div>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Titulo</th>
					<th scope="col">Autor</th>
					<th scope="col">Ano</th>
					<th scope="col">Disponivel</th>
				</tr>
			</thead>
			<tbody>		
	   			<tr th:each="livro : ${livros}">
					<th scope="row" th:text="${livro.id}"></th>
					<td th:text="${livro.titulo}"></td>
					<td th:text="${livro.autor}"></td>
					<td th:text="${livro.anoDePublicacao}"></td>
					<td th:text="${livro.disponivel}"></td>
					<td><a class="btn btn-primary" th:href="@{'/livro/cadastrar/' + ${livro.id}}">ATUALIZAR</a></td>
					<td><button class="btn btn-danger" th:attr="onclick=|removerLivro('${livro.id}')|">REMOVER</button></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
	crossorigin="anonymous"></script>
<script>
	async function removerLivro(id) {
		console.log(id);
		let response = await fetch("http://localhost:8080/biblioteca/livros/" + id, { method: 'DELETE' });
		if(response.ok){
			location.reload();
		} else {
			alert("Não foi possivel remover livro.");
		}
		
	}
</script>
</html>